@font-face{

	font-family: 'Dark Future Italic';

		src: url('fonts/Dark Future Italic.ttf');

		src: url('fonts/Dark Future Italic.eot?iefix') format('eot'),

				url('fonts/Dark Future Italic.woff') format('woff'),

				url('fonts/Dark Future Italic.ttf') format('truetype'),

				url('fonts/Dark Future Italic.svg#webfont') format('svg');

					font-weight: normal;

					font-style: normal;

}

@font-face{

	font-family: 'COEWQW';

		src: url('fonts/COEWQW.otf');

		src: url('fonts/COEWQW.eot?iefix') format('eot'),

				url('fonts/COEWQW.woff') format('woff'),

				url('fonts/COEWQW.ttf') format('truetype'),

				url('fonts/COEWQW.svg#webfont') format('svg');

					font-weight: normal;

					font-style: normal;

}

@font-face{

	font-family: 'tonk';

		src: url('fonts/tonk.otf');

		src: url('fonts/tonk.eot?iefix') format('eot'),

				url('fonts/tonk.woff') format('woff'),

				url('fonts/tonk.ttf') format('truetype'),

				url('fonts/tonk.svg#webfont') format('svg');

					font-weight: normal;

					font-style: normal;

}

@font-face{

	font-family: 'Cold Night for Alligators';

		src: url('fonts/Cold Night for Alligators.otf');

		src: url('fonts/Cold Night for Alligators.eot?iefix') format('eot'),

				url('fonts/Cold Night for Alligators.woff') format('woff'),

				url('fonts/Cold Night for Alligators.ttf') format('truetype'),

				url('fonts/Cold Night for Alligators.svg#webfont') format('svg');

					font-weight: normal;

					font-style: normal;

}

@font-face{

	font-family: 'napech';

		src: url('fonts/napech.ttf');

		src: url('fonts/napech.eot?iefix') format('eot'),

				url('fonts/napech.woff') format('woff'),

				url('fonts/napech.ttf') format('truetype'),

				url('fonts/napech.svg#webfont') format('svg');

					font-weight: normal;

					font-style: normal;

}